In [1]:
import scipy

In [2]:
import sklearn

In [3]:
import numpy as np
import pandas as pd

from sklearn.datasets import load_boston 
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, f1_score, confusion_matrix, roc_auc_score
from sklearn.model_selection import train_test_split

from collections import Counter

import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
data=pd.read_csv(r"dataset_labelled.csv")
#data=data.head(500)

In [5]:
data.head(5)

                                                body  target
0  My girlfriend and I started a webcomic about a...       0
1  If you need a place to stay, a warm meal, or a...       0
2  Ok, first of all, I have really bad anxiety an...       0
3  I read that straight girls like men with broad...       0
4  .. So I'm an almost 21 year old woman who is w...       1

In [6]:
data.shape
data.target.value_counts()

0    119
1     78
Name: target, dtype: int64

In [7]:
x = data.iloc[:, :-1]
y = data.iloc[:, -1]

# check length of 1's and 0's
one = np.where(y==1)
zero = np.where(y==0)
len(one[0]), len(zero[0])
x

                                                  body
0    My girlfriend and I started a webcomic about a...
1    If you need a place to stay, a warm meal, or a...
2    Ok, first of all, I have really bad anxiety an...
3    I read that straight girls like men with broad...
4    .. So I'm an almost 21 year old woman who is w...
..                                                 ...
192  Last night out of the blue a post gets out on ...
193  Hello reddit nation,  16M here, sad story inbo...
194  So one of my favorite artists Janelle Monae ju...
195  I wish to tell everyone, mainly family on Face...
196  Recently, I saw this article shaming comedians...

[197 rows x 1 columns]

In [8]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=42)

In [9]:
# class count
class_count_0, class_count_1 = data['target'].value_counts()

# divie class
class_0 = data[data['target'] == 0]
class_1 = data[data['target'] == 1]

In [10]:
import imblearn

In [11]:
# import library
from imblearn.under_sampling import RandomUnderSampler

rus = RandomUnderSampler(random_state=42, replacement=True)

# fit predictor and target varialbe
x_rus, y_rus = rus.fit_resample(x, y)

print('original dataset shape:', Counter(y))
print('Resample dataset shape', Counter(y_rus))

original dataset shape: Counter({0: 119, 1: 78})
Resample dataset shape Counter({0: 78, 1: 78})

In [12]:
y_rus.tail(5)

151    1
152    1
153    1
154    1
155    1
Name: target, dtype: int64

In [13]:
d1 = pd.concat([x_rus,y_rus], axis=1)

In [14]:
d1.tail(5)

                                                  body  target
151  i posted about this several times before, but ...       1
152  So, my first post here....\r\n\r\nWhat I want ...       1
153  Last night out of the blue a post gets out on ...       1
154  Hello reddit nation,  16M here, sad story inbo...       1
155  Recently, I saw this article shaming comedians...       1

In [15]:
d1.shape
d1.target.value_counts()

0    78
1    78
Name: target, dtype: int64

In [20]:
d1

                                                  body  target
0    So I'm gay. And "straight acting". I've always...       0
1    I keep thinking about kids. I'm bi cismale, se...       0
2    I've considered myself bi for a few years but ...       0
3    This year I moved in with 3 other guys, in an ...       0
4    Did my toenails (gay guy here) for the first t...       0
..                                                 ...     ...
151  i posted about this several times before, but ...       1
152  So, my first post here....\r\n\r\nWhat I want ...       1
153  Last night out of the blue a post gets out on ...       1
154  Hello reddit nation,  16M here, sad story inbo...       1
155  Recently, I saw this article shaming comedians...       1

[156 rows x 2 columns]

In [21]:
d1.to_csv('undersample-binarydata')

In [22]:
# import library
from imblearn.over_sampling import RandomOverSampler

ros = RandomOverSampler(random_state=42)

# fit predictor and target varaible
x_ros, y_ros = ros.fit_resample(x_train, y_train)

print('Original dataset shape', Counter(y_train))
print('Resample dataset shape', Counter(y_ros))

Original dataset shape Counter({0: 101, 1: 56})
Resample dataset shape Counter({0: 101, 1: 101})

In [23]:
d2 = pd.concat([x_ros,y_ros], axis=1)

In [24]:
d2

                                                  body  target
0    It's insane to know I did it, I just came out ...       0
1    For the last two and a half years, I've devote...       0
2    I found this to be a moving experience. In my ...       0
3    First off, I want to apologize if this is the ...       0
4                                              *topic*       0
..                                                 ...     ...
197  This seems like such a stupid problem wow. But...       1
198  I'm in high school, got lots of good friends, ...       1
199  Today like a lot of other days, I felt slightl...       1
200  I always have to change my train of thought wh...       1
201  I recently came out as bisexual to a couple of...       1

[202 rows x 2 columns]

In [25]:
d2.to_csv('oversample-binarydata-train')

In [26]:
x_ros

                                                  body
0    It's insane to know I did it, I just came out ...
1    For the last two and a half years, I've devote...
2    I found this to be a moving experience. In my ...
3    First off, I want to apologize if this is the ...
4                                              *topic*
..                                                 ...
197  This seems like such a stupid problem wow. But...
198  I'm in high school, got lots of good friends, ...
199  Today like a lot of other days, I felt slightl...
200  I always have to change my train of thought wh...
201  I recently came out as bisexual to a couple of...

[202 rows x 1 columns]

In [27]:
x_test

                                                  body
140  Okay so please hear me out with this one guys!...
113  Hi... sorry if this is the wrong place to ask ...
16   So recently I started work at my first job in ...
75   Has anyone had experience with questioning gen...
155  Every time I hear the argument that "having se...
186  Hi guys, Iâ€™ll be in London for a couple of day...
69   Ok before I rant I'll just lay down some conte...
55   I'm currently 23. When I was 15 years old I st...
18   I'm bisexual and told my parents this. They we...
170  So Iâ€™ve known for a while that Iâ€™m not fully f...
175  so here's my issue\r\n\r\n\r\n\r\ni am 24 year...
15   Let me start by saying that I created this thr...
162  (Forgive the long post, you may as well skip t...
60   I'm 21 year old guy, I hope this is the right ...
115  Greetings!\r\n\r\n\r\n\r\nWe are researchers a...
114  Ugh, fam, I need a hug. Look, Iâ€™m an openly ga...
146  Hello all I'm transgender MtF and 16. I have a...
9    So my mom recently found a purse with Audrey H...
73   In terms of your own life or path or whatever,...
190  Heya /lgbt/,\r\n\r\n\r\n\r\nI read a lot and w...
112  I'm pre-hormone trans. I haven't come out to t...
93   My daughter, who is 14 is an amazing girl and ...
139  Warning: I thought this'd be an interesting co...
45   So I'm getting tired of hearing ignorant, into...
85   Homosexual marriage is illegal in Northern Ire...
67   Hello so I know this looks like a lot but plea...
147  Okay so I'm an 18 year old ftm that lives in t...
174  At work today we had a diversity inclusion typ...
30   I used to anticipate the day where homophobia ...
68   So, I think I'm a bisexual guy who would total...
82   I keep thinking about kids. I'm bi cismale, se...
119  Hello!  :)  I'm 20, and looking to expand my s...
184  Would prefer things that are more extreme in n...
24   This year I moved in with 3 other guys, in an ...
132  i really need help finding places for homeless...
95   I hate my mouth, my voice, my legs, my hips, m...
56   The reason I ask is because I've had a serious...
19   In the movie Conair with Nicholas cage there s...
122  If this is against the rules I'm sorry. I read...
76   Hi there,\r\n\r\n\r\n\r\nI wanted to share thi...

In [28]:
d3 = pd.concat([x_test,y_test], axis=1)

In [29]:
d3

                                                  body  target
140  Okay so please hear me out with this one guys!...       1
113  Hi... sorry if this is the wrong place to ask ...       1
16   So recently I started work at my first job in ...       1
75   Has anyone had experience with questioning gen...       0
155  Every time I hear the argument that "having se...       1
186  Hi guys, Iâ€™ll be in London for a couple of day...       0
69   Ok before I rant I'll just lay down some conte...       1
55   I'm currently 23. When I was 15 years old I st...       1
18   I'm bisexual and told my parents this. They we...       0
170  So Iâ€™ve known for a while that Iâ€™m not fully f...       1
175  so here's my issue\r\n\r\n\r\n\r\ni am 24 year...       1
15   Let me start by saying that I created this thr...       0
162  (Forgive the long post, you may as well skip t...       1
60   I'm 21 year old guy, I hope this is the right ...       0
115  Greetings!\r\n\r\n\r\n\r\nWe are researchers a...       0
114  Ugh, fam, I need a hug. Look, Iâ€™m an openly ga...       1
146  Hello all I'm transgender MtF and 16. I have a...       1
9    So my mom recently found a purse with Audrey H...       1
73   In terms of your own life or path or whatever,...       0
190  Heya /lgbt/,\r\n\r\n\r\n\r\nI read a lot and w...       0
112  I'm pre-hormone trans. I haven't come out to t...       1
93   My daughter, who is 14 is an amazing girl and ...       0
139  Warning: I thought this'd be an interesting co...       0
45   So I'm getting tired of hearing ignorant, into...       1
85   Homosexual marriage is illegal in Northern Ire...       0
67   Hello so I know this looks like a lot but plea...       0
147  Okay so I'm an 18 year old ftm that lives in t...       1
174  At work today we had a diversity inclusion typ...       1
30   I used to anticipate the day where homophobia ...       1
68   So, I think I'm a bisexual guy who would total...       0
82   I keep thinking about kids. I'm bi cismale, se...       0
119  Hello!  :)  I'm 20, and looking to expand my s...       0
184  Would prefer things that are more extreme in n...       0
24   This year I moved in with 3 other guys, in an ...       0
132  i really need help finding places for homeless...       1
95   I hate my mouth, my voice, my legs, my hips, m...       1
56   The reason I ask is because I've had a serious...       1
19   In the movie Conair with Nicholas cage there s...       0
122  If this is against the rules I'm sorry. I read...       1
76   Hi there,\r\n\r\n\r\n\r\nI wanted to share thi...       1

In [30]:
d3.to_csv('oversample-binarydata-test')